<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- 
Launches all necessary nodes that let the user control the car with the keyboard and/or gamepad.
-->
    <!-- remote keyboard -->
    <node
      respawn="false"
      pkg="teleoperation"
      type="keyboard_controller"
      name="keyboard_controller"
      output="log" >
    </node>
</launch>